.canvas {
    width: 500px;
    height: 600px;
    background-color: #4d0f00;
}

.frame{
    border: solid black 50px;
<<<<<<< HEAD
    width: 500px;
=======
>>>>>>> 7af83bc92be2459395cf199cef519924acaf378b
  }